@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.dark{
  @apply bg-gray-900;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.pac-container{
  @apply dark:bg-gray-800 shadow-none;
  @apply text-white;
  @apply  rounded-xl mt-2 ring-1 ring-gray-300 dark:ring-gray-700; 
  
}
.pac-container::after{
  display: none
}
.pac-item
{
  /* @apply bg-gray-800; */
  @apply dark:text-gray-400 border-none border-b-2 border-b-gray-500 p-3 transition-all hover:dark:bg-gray-600 hover:bg-gray-300 cursor-pointer text-base ;
}
.pac-item-query
{
  @apply dark:text-gray-200 bg-transparent text-lg w-full;
}